<html>
<head>
    <title>Kanalyzer: Load Data</title>
</head>
<body>
    <form role="form" name="loginForm" ng-submit="login(credentials)" novalidate>
        <div class="form-group">
            <label for="jiraRoot">JIRA server:</label>
            <input type="text" id="jiraRoot" class="form-control" ng-model="jiraRoot" style="width:400px">
        </div>
        <div class="form-group">
            <label for="jiraProject">Project key:</label>
            <input type="text" id="jiraProject" class="form-control" ng-model="jiraProject" style="width:400px">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" class="form-control" ng-model="credentials.username" style="width:400px">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" ng-model="credentials.password" style="width:400px">
        </div>
        <div>
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </form>
    <br /><br />
    <div>
        <button ng-click="getData()">Load Data</button>
        <button ng-click="jsonPrint()">Show/Hide Data</button>
    </div>
    <br /><br />
    <div>
        {{ prettyString }}
    </div>
</body>
</html>