<html>
<head>
    <title>Kanalyzer: Load Data</title>
</head>
<body>


<!--<span class="col-md-2 control-label">Metadata</span>
<div class="col-md-6">
    <div class="form-group row">
        <label for="inputKey" class="col-md-1 control-label">Key</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="inputKey" placeholder="Key">
        </div>
        <label for="inputValue" class="col-md-1 control-label">Value</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="inputValue" placeholder="Value">
        </div>
    </div>
</div>-->


<form role="form" name="loadIssuesForm" novalidate>
    <div class="form-group">
        <label for="apiBoard">Board ID:</label>
        <input type="text" id="apiBoard" class="form-control" ng-model="boardId" style="width:60px">
    </div>
    <div class="form-group">
        <label for="apiProject">Project key:</label>
        <input type="text" id="apiProject" class="form-control" ng-model="apiProject" style="width:60px">
    </div>
    <div class="form-group">
        <label for="maxResults">Max results:</label>
        <input type="text" id="maxResults" class="form-control" ng-model="maxResults" style="width:60px">
    </div>
    <div>
        <button type="submit" class="btn btn-default" ng-click="getAllIssues()">Load issues</button>
        <button class="btn btn-default" ng-click="printBoardDesign()">Show/hide board design</button>
        <button class="btn btn-default" ng-click="printAllIssues()">Show/hide issues</button>
    </div>
</form>
<br /><br />
<div>
    <h4>Define Column Categories</h4>
    <table class="table table-condensed table-hover" style="width:610px">
        <thead>
        <tr>
            <th style="width:300px">Column</th>
            <th style="width:310px">Choose Category</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="column in columns">
            <td>{{ column.name }}</td>
            <td>
                <form role="form" name="columnCategoriesForm" novalidate>
                    <label class="radio-inline"><input type="radio" ng-model="column.category" name="categoryOption" value="Ignore">Ignore</label>
                    <label class="radio-inline"><input type="radio" ng-model="column.category" name="categoryOption" value="Execution">Execution</label>
                    <label class="radio-inline"><input type="radio" ng-model="column.category" name="categoryOption" value="Delay">Delay</label>
                    <label class="radio-inline"><input type="radio" ng-model="column.category" name="categoryOption" value="Done">Done</label>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default" ng-click="updateColumnCategories(columns)">Update columns</button>
    <!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Load config <span class="caret"></span></button>
    <ul class="dropdown-menu" ng-repeat="config in userConfigs">
        <li ng-click="loadConfig(config.name)">{{ config.name }}</li>
    </ul>-->
    <br /><br />
    <form role="form" name="loadConfigForm">
        <label for="loadConfigSelect">Load config:</label>
        <select name="loadConfigSelect" id="loadConfigSelect" ng-model="selectedConfig" ng-change="loadConfig(selectedConfig)">
            <option ng-repeat="config in userConfigs" value="{{ config.name }}">{{ config.name }}</option>
        </select>
    </form>
    Loaded config: {{ selectedConfig }}
    <br /><br />
    <form role="form" name="userConfigForm" novalidate>
        <label for="configName">Config Name:</label>
        <input type="text" class="form-control" id="configName" ng-model="configName" style="width:250px">
        <button type="submit" class="btn btn-default" ng-click="saveConfig(configName, columns)">Save this config</button>
    </form>
    <br />
    <button class="btn btn-default" ng-click="clearConfigs()">Clear all configs</button>
</div>
<br /><br />
<div>
    <h4>BOARD DESIGN:</h4>
    {{ boardDesignString }}
</div>
<br />
<div>
    <h4>ISSUES:</h4>
    {{ allIssuesString }}
</div>
</body>
</html>
