<html>
<head>
    <title>Kanalyzer: Load Data</title>
</head>
<body>


<!--<span class="col-md-2 control-label">Metadata</span>
<div class="col-md-6">
    <div class="form-group row">
        <label for="inputKey" class="col-md-1 control-label">Key</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="inputKey" placeholder="Key">
        </div>
        <label for="inputValue" class="col-md-1 control-label">Value</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="inputValue" placeholder="Value">
        </div>
    </div>
</div>-->

<div style="float:left; margin-right:50px; margin-top:10px">
    <form role="form" name="loadIssuesForm" novalidate>
        <div class="form-group">
            <label for="apiBoard">Board ID:</label>
            <input type="text" id="apiBoard" class="form-control" ng-model="boardId" ng-disabled="!isLoggedIn" style="width:70px">
        </div>
        <div class="form-group">
            <label for="apiProject">Project key:</label>
            <input type="text" id="apiProject" class="form-control" ng-model="apiProject" ng-disabled="!isLoggedIn" style="width:70px">
        </div>
        <div class="form-group">
            <label for="maxResults">Max results:</label>
            <input type="text" id="maxResults" class="form-control" ng-model="maxResults" ng-disabled="!isLoggedIn" style="width:70px">
        </div>
        <div>
            <button type="submit" class="btn btn-default" ng-click="getAllIssues()" ng-disabled="!isLoggedIn">Load issues</button>
        </div>
        <div ng-show="!isLoggedIn">
            <h4 style="color:red">Log in first to load data!</h4>
        </div>
    </form>
</div>
<div style="float:left; margin-right:50px">
    <h4>Define Column Categories for the board: ID {{ loadedBoardId }}, Project {{ loadedProject }}</h4>
    <table class="table table-condensed table-hover" style="width:610px">
        <thead>
        <tr>
            <th style="width:300px">Column</th>
            <th style="width:310px">Choose Category</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="column in columns">
            <td>{{ column.name }}</td>
            <td>
                <form role="form" name="columnCategoriesForm" novalidate>
                    <label class="radio-inline"><input type="radio" ng-model="column.category" name="categoryOption" value="Ignore">Ignore</label>
                    <label class="radio-inline"><input type="radio" ng-model="column.category" name="categoryOption" value="Execution">Execution</label>
                    <label class="radio-inline"><input type="radio" ng-model="column.category" name="categoryOption" value="Delay">Delay</label>
                    <label class="radio-inline"><input type="radio" ng-model="column.category" name="categoryOption" value="Done">Done</label>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default" ng-click="updateColumnCategories(columns)">Update columns</button> &nbsp;&nbsp; Loaded config: <b>{{ loadedConfig }}</b>
</div>
<div style="float:left; margin-top:45px">
    <form role="form" name="loadConfigForm">
        <label for="loadConfigSelect">Load config:</label><br />
        <select class="form-control" name="loadConfigSelect" id="loadConfigSelect" ng-model="selectedConfig" ng-change="loadConfig(selectedConfig)">
            <option ng-repeat="config in userConfigs" value="{{ config.name }}">{{ config.name }}</option>
        </select>
    </form>
    <br /><br />
    <form role="form" name="userConfigForm" novalidate>
        <label for="configName">Config Name:</label>
        <input type="text" class="form-control" id="configName" ng-model="configName" style="width:250px">
        <button type="submit" class="btn btn-default" ng-click="saveConfig(configName, columns)">Save this config</button>
    </form>
    <br />
    <button class="btn btn-default" ng-click="clearConfigs()">Delete all configs</button>
</div>
</body>
</html>
